/*Common shared styles*/
.body{
    font-family: 'Merriweather', serif;
    margin-left: 50px;
    margin-right: 0px;
}
hr{
    /*margin: 250px 140px 359px 140px;*/
    width: 1320px;
    height: 1px;
}
li{
    list-style: none;
}
ul{
    padding: 100px 385px 214px 385px;
    list-style: none;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.gift-image{
    padding: 20px;
    width: 408px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.gift-image:hover{
    background-color: #B18079;
    filter:brightness(70%);
    padding: 20px;
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
}
.btn{
    border-radius: 5px;
    border: none;
    background-color: #F00;
    padding: 14px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 700;
}
.btn:hover{
    border-radius: 5px;
    border: none;
    background-color: rgb(30, 222, 88);
    padding: 14px 32px;
    color: #090909;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 700;
}
/* Updated styles for Banner text */
.header { 
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('../images/BannerImage.png');
    position: relative;
    margin:50px 50px 140px 80px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner-title {
    padding: 177px 0 0 0; 
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.banner-text {
    margin-top: 0;
    color: #ffffff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    position: absolute;  
    left: 50%; 
    transform: translateX(-50%); 
}
/*Style for main header*/
.main-header-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}
.main-header-text{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.main-header-title2{
    padding-top: 0px;
    margin-top: 8px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.main-header-image{
    width: 800px;
    height: 500px;
    flex-shrink: 0;
}
.main-header-image-design{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Style for Main> main tag*/
.main-main{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-top: 100px;
    margin-left: 62px;
    position: relative;
    border-radius: 2%;
    
}
.party-text {
    margin-top: 20px;
    text-align: left;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0;
    position: absolute;
    left: 35%;
    top: 30%; 
    transform: translateX(-50%);
    z-index: 2; 
}

.party-para {
    margin-top: 20px; 
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    position: absolute; 
    left: 35%;
    top: calc(30% + 180px);
    transform: translateX(-50%);
    z-index: 1; 
}

.text-style-main{
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #FFF; 
    width: 80%; 
}
.party-text2 {
    font-family: Inter;
    color: #e0bc47; 
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    position: absolute;
    left: 15%;
    top: calc(30% + 280px); 
    transform: translateX(-50%);
    z-index: 2; 
}
.main-img{
    
    margin-left: 65%;
    margin-top: 10%;
    width: 30%;
    display: block;
    width: 319.83px;
    height: 464.662px;
    padding: 0.080px 0px 0px 0px;
    flex-shrink: 0;
    fill: radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%);
    background-blend-mode: multiply;
    mix-blend-mode:hard-light;
}
/*Discription Style*/
.discription-box{
    margin-top: 10%;
    margin-left:50px;
    margin-right: 140px;
    background-color: #f3d8e4;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
}
.des{
    color: #F00;
}

/* style for gift box */
.gift-box{
    margin-left:50px;
    margin-right: 140px;
}
h6{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}
#title-gift{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0%;
}
.gift-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;    
    font-weight: 400;
    line-height: 32px;
    margin-top: 0%;
}
.gift{
    display: flex;
    align-items: center;
    margin-right:10%;
}
/*style for subascription box*/
.subscription-box{
    margin-top: 5%;
    margin-left:50px;
    margin-right: 140px;
    background-color: #f3d8e4;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
}
input[type="email"] {
    padding: 10px;
    width: calc(100% - 90px); 
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mail-image{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 100%;
}
.subscription-form {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto; 
}

button[type="submit"] {
    padding: 10px 15px;
    margin-left: -1px; 
    background-color: #ff2600;
    color: #fff;
    border: none;
}
/*style for extra*/
.extra{
    margin-top: 5%;
    margin-left:50px;
    margin-right: 140px;
    background-color: #ffffff;
    width: 1320px;
    height: 582px;
    display: flex;
}
.li1{
    text-align: left;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.li2{
    margin-top: 0%;
    padding-top: 0%;
    color: #070211;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
}
.li3{
    margin-top: 0%;
    padding-top: 0%;
    color: rgba(85, 84, 87, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.li4{
    color: red;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.li5{
    
}
.extra1{
    margin-top: 10%;
    padding-left: 3%;
}
.extra2{
    margin-top: 3%;
    padding-left: 5%;
}
.elipse{
    width: 393px; 
    height: 393px;
    border-radius: 50%; 
    border: 15px solid #ef1818;
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.elipse img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
}
/*style for Sales offer*/
.sales-offer{
    position: relative;
    margin-top: 5%;
    margin-left:50px;
    margin-right: 140px;
    background-color: #ffffff;
    width: 1320px;
    height: 782px;
    text-align: center;
}
.sales-title1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
}
#sales{
    color: red;
}
.sales-title2{
    padding-top: 0%;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0%;
    margin-bottom: 2%;
}
.sale-text{
    margin-top: 0%;
    color: #62606499;
    font-weight: 500;
    font-family: Inter;
    font-size: 20px;
}
.sale-background{
    position: relative; 
    width: 100%;
    height: auto;
}
.images-row{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.sales-image{
  filter:saturate(70%);
    
}
/*style for footer*/

.footer{
    margin: 60px 0px 0px 0px;
    background-color: #070211;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
}
.footer-text{
    padding-top: 10%;
    margin-left: 190px;
    color: #f6f1f1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}
.footer-text2{
    padding-top: 10%;
    margin-right: 15%;
    color: #f6f1f1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}
.footer-header{
    display: flex;
    justify-content: space-between;
}
.footer-list{
    padding-left: 5px;
    color: white;
}
.com{
   display: flex;
}
.footer-main{
    margin-left: 39%;
    display: flex;
    align-items: center;
}
.footer-text3{
    padding-top: 7%;
    margin-left: 190px;
    color: #f6f1f1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}
.footer-text4{
    padding-top: 7%;
    margin-right: 15%;
    color: #f6f1f1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}